table {
    width: 100%;
  }

th {
    width: 20%;
}
td {
    width: auto;
}
.pointer{
    cursor: pointer;
}
mat-expansion-panel{
    width: 80%;
    height: 50%;
}
.mat-expansion-panel {
    border-radius: 0;
    box-shadow: none;
  }

