<div id="conteiner-all">
    <div id="conteiner-login">
        <form [formGroup]="form" novalidate class="needs-validation">
            <img src="../../../assets/images/company_logo.png" />
            <br />
            <input id="usernameInput" type="text" formControlName="user" placeholder="Usuario..." autocomplete="off" required>
            <div class="separador">
            </div>
            <input id="correoInput" type="email" formControlName="correo" placeholder="Correo electrónico..." autocomplete="off" required>
            <div class="separador">
                <!-- Se activa unicamente si el usuario introduce mal el usuario y el correo -->
                <p id="mensajeError" *ngIf="visibilidadMensajeCorreo == true">{{mensajeErrorCorreo}}</p>
            </div>  
            <button type="submit" class="sesionButton" (click)="verificarCredenciales()"><span>Enviar correo</span></button>
        </form>
    </div>
</div>

