<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container">
    
    <div class="barraBusqueda">
        <div mat-dialog-content class="form">
            <mat-form-field appearance="outline">
                <mat-label><mat-icon>search</mat-icon> Buscar...</mat-label>
                <input matInput name="usuario" (keyup)="applyFilter($event)">
            </mat-form-field>
        </div>
    </div>

    <div class="tabla">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
            <ng-container matColumnDef="usuario">
                <th mat-header-cell *matHeaderCellDef><button mat-button disabled class="botonTabla"> USUARIO </button></th>
                <td mat-cell *matCellDef="let element"> {{element.usuario }} </td>
            </ng-container>
        
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef><button mat-button disabled class="botonTabla"> NOMBRE </button></th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
        
            <ng-container matColumnDef="rol">
                <th mat-header-cell *matHeaderCellDef><button mat-button [matMenuTriggerFor]="menuFiltro" class="botonTabla"> ROL <i class="icon-general fa-solid fa-angle-down"></i></button></th>
                <td mat-cell *matCellDef="let element"><button mat-button [matMenuTriggerFor]="menuRol" class="botonTabla" (click)="getRolesDisponibles(element)"> {{element.rol }} <i class="icon-general fa-solid fa-angle-down"></i></button></td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <mat-menu #menuFiltro="matMenu" class="menuDesplegable">
            <mat-checkbox *ngFor="let rol of roles" [value]="rol.nombre" [checked]="rol.check" (change)="marcarCheckbox($event)"> {{ rol.nombre }} </mat-checkbox>
        </mat-menu>

        <mat-menu #menuRol="matMenu">
            <div class="seleccionRoles" *ngFor="let rol of rolesFaltantes"> <button mat-button class="botonTabla" (click)="cambiarRol( rol )"> {{ rol }} </button>  </div>
        </mat-menu>

    </div>
</div>