.cerrar {
    float: right;
}

.botones{
    padding: 5px;
    text-align: center;
}

button{
    margin: 5% 2% 0 2%;
}

.red{
    background-color: lightcoral;
}

.green{
    background-color: lightgreen;
}