<div id="titulo"><h1>CONFIGURACIONES</h1></div>

<div class="container">
    
<div class="botonera">
    <button mat-button>Configuraciones 1</button>
    <button mat-button (click)="rolesUsuarios()">Roles de Usuario</button>
    <button mat-button (click)="permisosRoles()">Permisos por Rol</button>
    <button mat-button>Configuraciones 4</button>
    <button mat-button>Configuraciones 5</button>
    <button mat-button>Configuraciones 6</button>
    <button mat-button>Configuraciones 7</button>
    <button mat-button>Configuraciones 8</button>
</div>

<router-outlet></router-outlet>

</div>