#titulo {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container {
    display: flex;
}

.botonera {
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-left: -5%;
}

mat-button-toggle:hover {
    background-color: gray;
}

button:focus{
    background-color: gray;
}

mat-button-toggle:active{
    background-color: gray;
}



mat-button-toggle{
    border: 1px solid black !important;
    margin-bottom: 1px;
}