<div id="titulo"><h1>CONFIGURACIONES</h1></div>

<div class="container">

<div class="botonera">
    <mat-button-toggle-group  [vertical] ="true">
        <mat-button-toggle mat-button>Configuraciones 1</mat-button-toggle>
        <mat-button-toggle mat-button (click)="rolesUsuarios()">Roles de Usuarios</mat-button-toggle>
        <mat-button-toggle mat-button (click)="permisosRoles()">Permisos por Rol</mat-button-toggle>
        <mat-button-toggle mat-button>Configuraciones 4</mat-button-toggle>
        <mat-button-toggle mat-button>Configuraciones 5</mat-button-toggle>
        <mat-button-toggle mat-button>Configuraciones 6</mat-button-toggle>
        <mat-button-toggle mat-button>Configuraciones 7</mat-button-toggle>
        <mat-button-toggle mat-button>Configuraciones 8</mat-button-toggle>
    </mat-button-toggle-group>
</div>

<router-outlet></router-outlet>

</div>