<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Comienzo cabecera -->
<div class="cabecera">
    <h2 id="titulo-proyecto">Proyecto XXX (FEDE)</h2>
    <p id="subtitulo-disenio">Avance de Diseño Funcional</p>

    <!-- Barra de progreso -->
    <div class="conteiner-barra">
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" aria-label="Segment one" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><p class="porcentajes">50%</p></div>
            <div class="progress-bar bg-warning" role="progressbar" aria-label="Segment two" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"><p class="porcentajes">40%</p></div>
            <div class="progress-bar bg-success" role="progressbar" aria-label="Segment one" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"><p class="porcentajes">10%</p></div>
        </div>
    </div>
</div>
<!-- Termina cabecera -->

<!-- Contenedor para las columnas de las tareas -->
<div class="conteiner-all">
    <div class="card-columna">
        <mat-card class="card">
            <div class="titulo-conteiner-no-iniciadas">
                <h4>NO INICIADAS</h4>
            </div>
      
            <div class="conteiner-all-act">
                <div class="actividades" *ngFor="let actividad of actividadesNoIniciadas ; let i = index">
                    <mat-accordion class="panel-header">
                        <mat-expansion-panel hideToggle>
                            <mat-divider id="separador"></mat-divider>
                            <div class="desc-act">
                                <div class="datos">
                                    <strong>Prioridad: </strong>
                                    <p>{{actividad.prioridad}}</p>
                                </div>
                                <div class="datos">
                                    <strong>Asignado: </strong>
                                    <p>{{actividad.asignado}}</p>
                                </div>
                                    <div class="datos">
                                    <strong>Facilitador: </strong>
                                    <p>{{actividad.facilitador}}</p>
                                </div>
                                <div id="fechas">
                                    <strong>Fechas: </strong>
                                    <p>De inicio: {{actividad.fechas}}</p>
                                    <p>Fin: {{actividad.fechas}}</p>
                                    <p>Planificada: {{actividad.fechas}}</p>
                                </div> 
                                <div class="datos">
                                    <strong>Horas: </strong>
                                    <p>{{actividad.horasPlanificadas}}</p>
                                </div> 
                                <div class="datos">
                                    <strong>Documento: </strong>
                                    <p>{{actividad.documento}}</p>
                                </div> 
                                <div class="datos">
                                    <strong>Tarea: </strong>
                                    <p>{{actividad.tareasPrecondicion}}</p>
                                </div> 
                            </div>
                        <mat-expansion-panel-header>
                        <div class="titulo-act">
                            <mat-panel-title>
                                {{actividad.titulo}}
                            </mat-panel-title>
                        </div>
                        <!-- Icono editar -->    
                
                    
                        </mat-expansion-panel-header>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </mat-card> 
    </div>
    <div class="card-columna">
        <mat-card [ngClass]="{'card': poseeTareasEnProgreso, 'conteiner-vacio': !poseeTareasEnProgreso}" >
            <div class="titulo-conteiner-progreso">
                <h4>EN PROGRESO</h4>
            </div>
            <div class="conteiner-all-act">
                <div class="actividades" *ngFor="let actividad of actividadesEnProgreso ; let i = index">
                    <mat-accordion class="panel-header">
                        <mat-expansion-panel hideToggle>
                            <mat-divider id="separador"></mat-divider>
                            <div class="desc-act">
                                <div class="datos">
                                    <strong>Prioridad: </strong>
                                    <p>{{actividad.prioridad}}</p>
                                </div>
                                <div class="datos">
                                    <strong>Asignado: </strong>
                                    <p>{{actividad.asignado}}</p>
                                </div>
                                <div class="datos">
                                    <strong>Facilitador: </strong>
                                    <p>{{actividad.facilitador}}</p>
                                </div>
                                <div id="fechas">
                                    <strong>Fechas: </strong>
                                    <p>De inicio: {{actividad.fechas}}</p>
                                    <p>Fin: {{actividad.fechas}}</p>
                                    <p>Planificada: {{actividad.fechas}}</p>
                                </div> 
                                <div class="datos">
                                    <strong>Horas: </strong>
                                    <p>{{actividad.horasPlanificadas}}</p>
                                </div> 
                                <div class="datos">
                                    <strong>Documento: </strong>
                                    <p>{{actividad.documento}}</p>
                                </div> 
                                <div class="datos">
                                    <strong>Tarea: </strong>
                                    <p>{{actividad.tareasPrecondicion}}</p>
                                </div> 
                            </div>
                        <mat-expansion-panel-header>
                        <div class="titulo-act">
                            <mat-panel-title>
                                {{actividad.titulo}}
                            </mat-panel-title>
                        </div>
                        <!-- Icono editar -->    
                        </mat-expansion-panel-header>
                        </mat-expansion-panel>
                        </mat-accordion>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="card-columna">
        <mat-card [ngClass]="{'card': poseeTareasCompletadas, 'conteiner-vacio': !poseeTareasCompletadas}">
            <div class="titulo-conteiner-completadas">
                <h4>COMPLETADAS</h4>
            </div>
            <div class="conteiner-all-act">
                <div class="actividades" *ngFor="let actividad of actividadesCompletadas">
                    <mat-accordion class="panel-header">
                    <mat-expansion-panel hideToggle>
                        <mat-divider id="separador"></mat-divider>
                        
                        <!-- Icono editar -->
                        <div id="icon-x">
                            <i class="fa-solid fa-x"></i> 
                        </div> 
                        <div class="desc-act">
                            <div class="datos">
                                <strong>Prioridad: </strong>
                                <p>{{actividad.prioridad}}</p>
                            </div>
                            <div class="datos">
                                <strong>Asignado: </strong>
                                <p>{{actividad.asignado}}</p>
                            </div>
                            <div class="datos">
                                <strong>Facilitador: </strong>
                                <p>{{actividad.facilitador}}</p>
                            </div>
                            <div id="fechas">
                                <strong>Fechas: </strong>
                                <p>De inicio: {{actividad.fechas}}</p>
                                <p>Fin: {{actividad.fechas}}</p>
                                <p>Planificada: {{actividad.fechas}}</p>
                            </div> 
                            <div class="datos">
                                <strong>Horas: </strong>
                                <p>{{actividad.horasPlanificadas}}</p>
                            </div> 
                            <div class="datos">
                                <strong>Documento: </strong>
                                <p>{{actividad.documento}}</p>
                            </div> 
                            <div class="datos">
                                <strong>Tarea: </strong>
                                <p>{{actividad.tareasPrecondicion}}</p>
                            </div> 
                        </div>
                    <mat-expansion-panel-header>
                    <div class="titulo-act">
                        <mat-panel-title>
                            {{actividad.titulo}} 
                        </mat-panel-title>
                    </div>
                    </mat-expansion-panel-header> 
                    </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </mat-card>
    </div>
</div>



