* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.conteiner-all{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}  

.conteiner-barra{
    margin-right: 350px;
    margin-left: 350px;
}

.porcentajes{
    margin-top: 13px;
    color: black;
}

.cabecera {
    text-align: center;
}

#titulo-proyecto {
    font-size: 25px;
    margin-top: 20px;
}

#subtitulo-disenio{
    font-size: 15px;
}

.datos{
    display: flex;
}

.datos strong{
    padding-right: 4px;
    font-size: 12px;
}

.datos p{
    font-size: 12px;
}

.desc-act{
    padding-top: 10px;
}

.conteiner-all-act{
    margin-top: 10px;
}

#fechas strong{
    font-size: 12px;
}

#fechas p{
    padding-left: 10px;
    font-size: 12px;
}

#separador{
    background-color: black;
}

.actividades mat-accordion mat-expansion-panel{
    background-color: white;
    border: solid 1px black;
}

.actividades mat-accordion mat-expansion-panel-header{
    height: 25px;
}

.actividades {
    margin-bottom: 8px;
}

#titulo-act{
    text-align: center;
    font-size: 12px;
}

.card-columna{
    width: 370px;
    margin: 2px;
}

.card{
    border: 1.5px solid black;
    border-radius: 4px;
    width: 370px;
}

.titulo-conteiner-no-iniciadas {
    height: 25px;
    background-color: rgb(170, 0, 0);
    text-align: center;
    border: 1.5px solid black;
    border-radius: 4px;
}

.titulo-conteiner-progreso {
    height: 25px;
    background-color: yellow;
    text-align: center;
    border: 1.5px solid black;
    border-radius: 4px;
}

.titulo-conteiner-completadas {
    height: 25px;
    background-color: rgb(4, 131, 2);
    text-align: center;
    border: 1.5px solid black; 
    border-radius: 4px;
}

.conteiner-vacio{
    width: 370px;
    border: 1.5px solid black;
    height: 60px;
    display: block;
}

/*  Iconos  */
#iconos{
    margin-top: 10px;
    text-align: right;
}

#icon-edit{
    margin-right: 5px;
    cursor: pointer;
    color: black;
}

#icon-x{
    cursor: pointer;
    color: black;
}

#icon-danger{
    margin-top: 2px;
    margin-right: 3px;
}

#icon-avatar{
    margin-top: 2px;
    margin-right: 3px;
}

