<div class="contenedor">
    <div class="buscador">
        <mat-form-field class="example-form-field" appearance="outline" id="searchInput">
            <input matInput type="text" placeholder="Buscar colaborador..." autocomplete="off">
        </mat-form-field>
        <button mat-flat-button color="primary" class="btnRol">Rol</button>
    </div>

    <div class="colaboradores">
        <mat-card class="colaborador inline" *ngFor="let colaborador of usuarios; let i = index">
            <div class="foto inline"></div>
            <div class="texto inline">
                <strong>{{colaborador.nombre}} {{colaborador.apellido}}</strong>
                <p>Roles: <span *ngFor="let rol of colaborador.nombre_rol" class="elemento">{{rol}}</span></p>
                <p>Conocimientos: <span *ngFor="let c of colaborador.conocimientos" class="elemento">{{c}}</span></p>
                <p>Preferencias: <span *ngFor="let p of colaborador.preferencias" class="elemento">{{p}}</span></p>
                <p>Proyectos actuales: <span *ngFor="let pa of colaborador.proyectos_actuales" class="elemento">{{pa}}</span></p>
            </div>
            <div class="iconos inline">
                <mat-icon></mat-icon>
            </div>
        </mat-card>
    </div>
</div>

