<div class="contenedor">
    <div class="buscador">
        <mat-form-field class="example-form-field" appearance="outline" id="searchInput">
            <input matInput type="text" placeholder="Buscar colaborador..." autocomplete="off" (keyup)="filtrarNombre($event)" >
        </mat-form-field>
        <button mat-flat-button color="primary" class="btnRol" [matMenuTriggerFor]="menu">Rol</button>
        <mat-label class="elemento" id="rol"></mat-label>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="limpiarFiltro()">Todos</button>
            <button mat-menu-item *ngFor="let rol of roles" (click)="filtrarRol(rol.name)">{{rol.name}}</button>
        </mat-menu>
    </div>

    <div class="colaboradores">
        <mat-card class="colaborador inline" *ngFor="let colaborador of usuarios; let i = index">
            <div class="foto inline"></div>
            <div class="texto inline">
                <strong class="nombre">{{colaborador.nombre}} {{colaborador.apellido}}</strong>
                <p>Roles: <span *ngFor="let rol of colaborador.nombre_rol" class="elemento">{{rol}}</span></p>
                <p>Conocimientos: <span *ngFor="let c of colaborador.conocimientos" class="elemento">{{c}}</span></p>
                <p>Preferencias: <span *ngFor="let p of colaborador.preferencias">{{p}}</span></p>
                <p>Proyectos actuales: <span *ngFor="let pa of colaborador.proyectos_actuales" class="elemento">{{pa}}</span></p>
            </div>
            <div class="iconos inline">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank"><mat-icon svgIcon="linkedin"></mat-icon></a>
                <mat-icon>visibility</mat-icon>
            </div>
        </mat-card>
    </div>
</div>

