.contenedor{
    margin-top: 5px;
}

.buscador{
    margin-left: 3%;
}

.btnRol{
    margin-left: 1em;
    margin-right: 1em;
}

.colaboradores{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}

.colaborador{
    width: 24%;
    margin: 0.5%;
}

.inline{
    display: inline-block;
}

.texto{
    max-width: 65%;
}

.nombre{
    font-size: medium;
}

.elemento{
    display: inline-block;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 1.5px;
    margin: 1.5px;
}

p{
    margin: 0;
}

.foto {
    width: 50px;           
    height: 50px;          
    background: gray;        
    border: 2px solid #000; 
    margin-right: 2%;
    vertical-align: top;
}

.iconos{
    display: flex;
    vertical-align: top;
    float: right;
}
