.contenedor{
    margin-top: 5px;
}

.buscador{
    margin-left: 3%;
}

.btnRol{
    margin-left: 1em;
}

.colaboradores{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}

.colaborador{
    width: 24%;
    margin: 0.5%;
}

.inline{
    display: inline-block;
}

.texto{
    max-width: 300px;
}

.elemento{
    display: inline-block;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 1.5px;
    margin: 1.5px;
}

p{
    margin: 0;
}

.foto {
    width: 50px;           /* Ancho de 150 píxeles */
    height: 50px;          /* Alto de 150 píxeles */
    background: gray;        /* Fondo de color rojo */
    border: 2px solid #000; /* Borde color negro y de 1 píxel de grosor */
    margin-right: 10px;
    vertical-align: top;
}

.iconos{
    display: flex;
    vertical-align: top;
    float: right;
}
