/*
  Header
*/

#titulo {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  height: 60px;
  margin-bottom: 50px;
}

.input-header {
  width: 180px;
  margin-left: 10px;
}

.boton-icono {
  margin-top: 10px;
  margin-left: 15px;
}

.boton-informacion{
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 15px;
}

#seccion-informacion{
  background-color: grey;
  border: 1px solid black;
  height: 110px;
  width: 110px;
}

#seccion-no-iniciadas{
  display: flex;
}

#seccion-en-progreso{
  display: flex;
}

#seccion-en-prueba{
  display: flex;
}

#seccion-completadas{
  display: flex;
}

.cc-no-iniciadas{
  height: 20px;
  width: 20px;
  background-color: red;
}

.cc-en-progreso{
  height: 20px;
  width: 20px;
  background-color: yellow;
}

.cc-en-prueba{
  height: 20px;
  width: 20px;
  background-color: rgb(0, 177, 0);
}

.cc-completadas{
  height: 20px;
  width: 20px;
  background-color: green;
}

.container-informacion{
  float: right;
  display: flex;  
}

.icon {
  font-size: 24px;
}

.porcentaje-rojo {
  border: 2px solid red;
}

.porcentaje-amarillo {
  border: 2px solid yellow;
}

.porcentaje-verde-claro {
  border: 2px solid lightgreen;
}

.porcentaje-verde-oscuro {
  border: 2px solid green;
}

.disponibilidad-proyectos {
  margin-top: 15px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#porcentaje-disponibilidad-proyectos {
  border-radius: 20px;
  padding: 10px;
}


/*
  Body
*/

.container-datos{
  margin: 5px;
}

.titulos{
  font-size: 12px;
}
.datos{
  font-size: 10px;
}

.mensaje-no-proyectos {
  text-align: center;
}

/*
  Tabla
*/

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

#tareasATiempo{
  background-color: green;
  text-align: center;
  margin-right: 35%;
  margin-left: 35%;
  border-radius: 5px;
  border: solid 1.50px black;
  color: #efefef;
}

#tareasAtrasadas{
background-color: red;
text-align: center;
margin-right: 35%;
margin-left: 35%;
border-radius: 5px;
border: solid 1.50px black;
color: #efefef;
}

#nombre{
text-align: center;
}

.columna{
  padding: 10px;
}

.tituloColumna{
text-align: center;
font-size: 15px;
}

.subtitulo{
text-align: center;
font-size: 15px;
margin-top: 10px;
}

#seccionAvance{
display: flexbox;
max-height: 30%;
}

#seccionAvanceArea{
  border-radius: 3px;
}

#seccionAvanceArea p{
  padding-top: 8px;
  font-size: 15px;
}

.contenido{
  width: 100%;
}

#vacio{
  margin-bottom: 5px;
}

/*
  Barra
*/
.barra{
  display: flex;
  width: 100%;
}

.barra div{
  margin: 0.1%;
}

#nombre{
  font-size: 15px;
}

#barraVerde{
  background-color: green;
  width: 25%;
  text-align: center;
  color: white;
  border: solid 0.5px black;
  font-size: 15px;
  border-radius: 3px;
  padding-top: 10px;
}

#barraRoja{
  background-color: red;
  width: 25%;
  text-align: center;
  color: white;
  border: solid 0.5px black;
  font-size: 15px;
  border-radius: 3px;
  padding-top: 10px;
}

#barraAmarilla{
  background-color: rgb(221, 221, 27);
  width: 25%;
  text-align: center;
  border: solid 0.5px black;
  font-size: 15px;
  border-radius: 3px;
  padding-top: 10px;
}

#barraEnPrueba{
  background-color: rgb(1, 181, 1);
  width: 25%;
  text-align: center;
  color: white;
  border: solid 0.5px black;
  font-size: 15px;
  border-radius: 3px;
  padding-top: 10px;
} 

.barraAvance{
  display: flex;
}

.barraAvance div{
  margin: 1px;
}

#espacio{
  padding-right: 10px;
}

#espacioTecnico{
  padding-right: 12px;
}

#espacioDesarrollo{
  padding-right: 40px;
}

#espacioTesting{
  padding-right: 58px;
}

.barraAreaVerde{
  background-color: green;
  width: 20%;
  text-align: center;
  color: white;
  border: solid 0.5px black;
  font-size: 15px;
  border-radius: 3px;
}

.barraAreaRoja{
  background-color: red;
  width: 20%;
  text-align: center;
  color: white;
  border: solid 0.5px black;
  font-size: 15px;
  border-radius: 3px;
}

.barraAreaAmarilla{
  background-color: rgb(221, 221, 27);
  width: 20%;
  text-align: center;
  border: solid 0.5px black;
  font-size: 15px;
  border-radius: 3px;
}

.barraAreaEnPrueba{
  background-color: rgb(1, 181, 1);
  width: 20%;
  text-align: center;
  color: white;
  border: solid 0.5px black;
  font-size: 15px;
  border-radius: 3px;
}

#container-indicadores{
  height: 10%;
  background-color: green;
  width: 10%;
}












