<div id="container-all">
      <mat-form-field appearance="outline" id="filtro">
        <mat-icon>search</mat-icon><mat-label>Buscar proyectos...</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input autocomplete="off">
      </mat-form-field>

    <div id="container-body">
      <table mat-table [dataSource]="data" multiTemplateDataRows class="mat-elevation-z8">
      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre" class="columna">
        <th mat-header-cell *matHeaderCellDef class="tituloColumna"> Nombre </th>
        <td mat-cell *matCellDef="let element"><div id="nombre">{{element.nombre}}</div></td>
      </ng-container>

      <!-- Tareas a tiempo Column -->
        <ng-container matColumnDef="tareasATiempo">
          <th mat-header-cell *matHeaderCellDef class="tituloColumna"> Tareas a tiempo </th>
          <td mat-cell *matCellDef="let element"> <div id="tareasATiempo">{{element.porcentajeTareasATiempo}}%</div></td>
        </ng-container>
      
      <!-- Tareas atrasadas Column -->
        <ng-container matColumnDef="tareasAtrasadas" class="columna">
          <th mat-header-cell *matHeaderCellDef class="tituloColumna"> Tareas atrasadas </th>
          <td mat-cell *matCellDef="let element"><div id="tareasAtrasadas">{{element.porcentajeTareasAtrasadas}}%</div></td>
        </ng-container>

      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
          <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let proyecto; let i = dataIndex" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail" [@detailExpand]="proyecto == expandedElement ? 'expanded' : 'collapsed'">
        <div class="contenido">
        <div id="seccionAvance">
          <p class="subtitulo">Avance del proyecto</p>
        </div>
        <!--<div class="progress">
          <div id="barraRoja" class="progress-bar progress-bar bg-danger" aria-valuenow="cargarRojo()" role="progressbar" aria-valuemax="100">{{cargarRojo()}}</div>
          <div id="barraAmarilla" class="progress-bar progress-bar bg-warning" role="progressbar" aria-valuemax="100">{{cargarRojo()}}</div>
          <div id="barraVerde" class="progress-bar progress-bar bg-success" role="progressbar" aria-valuemax="100"></div>
        </div>-->
        <div class="progress container-barra">
          <div id="barraRoja" class="progress-bar bg-danger" role="progressbar" aria-label="Segment one" aria-valuenow="cargarRojo()" aria-valuemin="0" aria-valuemax="100"><p class="porcentajes">{{cargarRojo()}}%</p></div>
          <!--<div id="barraAmarilla" class="progress-bar bg-warning" role="progressbar" aria-label="Segment two" aria-valuenow="cargarBarraAmarilla()" aria-valuemin="0" aria-valuemax="100"><p id="porcentajeAmarillo" class="porcentajes">{{cargarBarraAmarilla()}}%</p></div>
          <div id="barraVerde" class="progress-bar bg-success" role="progressbar" aria-label="Segment one" aria-valuenow="cargarBarraVerde()" aria-valuemin="0" aria-valuemax="100"><p class="porcentajes">{{cargarBarraVerde()}}%</p></div>-->
      </div>
        </div>
      </div>
      </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row" [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
    </div>
</div>