.icon{
    font-size: 40px;
    width: 45px;
}

.lista_proyectos {
    overflow-y: scroll;
    border: 1px solid black;
    height: 22vw;
    width: 15vw;
}

.buscador{
    margin-top: 1%;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
}

.ocultarTabla{
    display: none;
}

.mostrarTabla{
    display: block;
    position: absolute;
    left: -5%;
    top: 95%;
    z-index: 100;
}