.container-all{
    width: 100%;
    position: relative;
    top: -2.3%;
}


#titulo {
    text-align: center;
    margin-top: 10%;
}

.header {
    display: flex;
}

.input-header {
    width: 25.7%;
}

.boton-icono {
    margin: 0.9%;
}

.icon {
    font-size: 24px;
}

#button-orden {
    min-width: 170px;
}

.menu-orden {
    display: flex;
    width: 170px;
}

h3 {
    text-align: center;
}

.caja-fecha {
    display: flex;
    flex-direction: row;
}

.disponibilidad-equipo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

/* @media screen and (max-width: 1199px) {

    .disponibilidad-equipo {
        margin-left: 10%;
    }

    #titulo {
        margin-left: 75px;
        width: 100%;
    }

    .colaborador-unico {
        margin-left: 60px;
    }

    .mat-accordion {
        width: 100%;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1399px) {

    .disponibilidad-equipo {
        margin-left: 5%;
    }

    #titulo {
        margin-left: 75px;
        width: 100%;
    }

    .colaborador-unico {
        margin-left: 90px;
    }

    .texto-proyecto {
        width: 100% !important;
    }

}

@media screen and (min-width: 1400px) and (max-width: 2000px) {
    
    .disponibilidad-equipo {
        margin-left: 5%;
    }

    #titulo {
        margin-left: 50px;
        width: 100%;
    }

    .texto-proyecto {
        width: 100% !important;
    }

    .colaborador-unico {
        margin-left: 75px;
    }

}

@media screen and (min-width: 1500px) and (max-width: 1699px) {
    .container-all {
        width: 700px;
    }

    .header {
        margin-left: 75px;
    }

    #titulo {
        width: 100%;
        margin-left: 25px !important;
    }

    .texto-proyecto {
        width: 100% !important;
    }

    .colaborador-unico {
        margin-left: 100px;
    }

}

@media screen and (min-width: 1700px) and (max-width: 2000px) {
    .container-all {
        width: 900px;
    }

    .header {
        margin-left: 150px;
    }

    #titulo {
        margin-left: 0px !important;
    }

    .texto-proyecto {
        width: 100% !important;
    }

    .colaborador-unico {
        margin-left: 100px;
    }

} */

#porcentaje-disponibilidad-equipo {
    border-radius: 20px;
    padding: 10px;
}

.porcentaje-rojo {
    border: 2px solid #FF0000;
}

.porcentaje-amarillo {
    border: 2px solid #FFFF00;
}

.porcentaje-verde-claro {
    border: 2px solid #00FF00;
}

.porcentaje-verde-oscuro {
    border: 2px solid #008000;
}
.accordion {
    display: flex;
    width: 100%;
}

.equipo {
    display: flex;
}

.spacer{
    flex: 1 1 auto;
}

.colaborador-unico {
    display: flex;
    justify-content: center;
}

.esconder {
    display: none;
}

.columna-equipo {
    width: 70%;
    text-align: center;
    left: 5%;
    margin-inline: 5%;
}

.cajaPorcentaje {
    width: 35px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
}


.porcentaje-rojo-colaborador {
    background-color: #FF0000;
    color: white;
}

.porcentaje-amarillo-colaborador {
    background-color: #FFFF00;
}

.porcentaje-verde-claro-colaborador {
    background-color: #00FF00;
}

.porcentaje-verde-oscuro-colaborador {
    background-color: #008000;
    color: white;
}

.atrasadas {
    color: #FF0000;
}

.div-caja {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.caja-proyecto {
    font-size: 10px;
    align-items: center;
}

.mensaje-no-colaboradores {
    text-align: center;
}

mat-panel-title {
    font-size: 12px;
    justify-content: space-between;
}

.texto-proyecto {
    text-align: left;
    width: 100px;
}

.texto-no-hay-proyecto {
    text-align: center;
    font-size: 10px;
}