<div class="container-all">
<div id="titulo"><h1>Disponibilidad de Colaboradores</h1></div>
<div class="flex-header">
    <div>
        <mat-form-field appearance="outline" class="input-header">
            <mat-label><mat-icon>search</mat-icon> Buscar colaborador...</mat-label>
            <input matInput name="usuario" (keyup)="applyFilter($event)" [(ngModel)]="inputIzq">
        </mat-form-field>
        <button class="boton-icono" mat-mini-fab color="primary" (click)="abrirModalFiltro()" mat-button matTooltip="Filtro Avanzado"><mat-icon class="icon">filter_alt</mat-icon></button>
        <button class="boton-icono" mat-mini-fab color="primary" (click)="contraerColaboradores()" mat-button matTooltip="Cerrar Colaboradores"><mat-icon class="icon">close_fullscreen</mat-icon></button>
        <button id="button-orden" mat-button [matMenuTriggerFor]="menuOrden"> {{ordenSeleccion}} <mat-icon>expand_more</mat-icon></button>
        <mat-menu #menuOrden="matMenu"><button mat-button *ngFor="let o of orden" class="menu-orden" (click)="dispararCambioOrdenDesdePlantilla($event)">{{o}}</button></mat-menu>
            <mat-form-field appearance="outline" class="input-header">
                <mat-label>Fecha Hasta</mat-label>
                <input matInput [matDatepicker]="picker" [min]="fechaHoy" [(ngModel)]="fechaHastaDate" (dateChange)="cambioFechaHasta($event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year"></mat-datepicker>
        </mat-form-field>
    </div>
</div>  

<div class="disponibilidad-equipo">
    <h3>Disponibilidad del Equipo<mat-divider></mat-divider></h3>
    <div id="porcentaje-disponibilidad-equipo" [ngClass]="{
        'porcentaje-rojo': getPorcentajeRojo(disponibilidadEquipo),
        'porcentaje-amarillo': getPorcentajeAmarillo(disponibilidadEquipo),
        'porcentaje-verde-claro': getPorcentajeVerdeClaro(disponibilidadEquipo),
        'porcentaje-verde-oscuro': getPorcentajeVerdeOscuro(disponibilidadEquipo) }"
        matTooltip="{{getTooltipHsDispTotales()}} Hs Disp / 
        {{getTooltipHsCapTotales()}} Hs Cap" 
        [matTooltipPosition]="position.value!"> {{ disponibilidadEquipo }}%
    </div>
</div>

<div class="mensaje-no-colaboradores" *ngIf="noHayColaboradores"><h1>No coinciden colaboradores con la busqueda</h1></div>

<mat-accordion [multi]="true" [ngClass]="{'equipo': !colaboradorUnico, 'colaborador-unico': colaboradorUnico}" *ngIf="!noHayColaboradores">
    <div class="columna-equipo">
        <div *ngFor="let colaborador of columna1">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{colaborador.nombre}} {{colaborador.apellido}}
                        <div class="cajaPorcentaje cajaPorcentajeDisp" [ngClass]="{
                            'porcentaje-rojo-colaborador': getPorcentajeRojo(colaborador.tiempoDisponible),
                            'porcentaje-amarillo-colaborador': getPorcentajeAmarillo(colaborador.tiempoDisponible),
                            'porcentaje-verde-claro-colaborador': getPorcentajeVerdeClaro(colaborador.tiempoDisponible),
                            'porcentaje-verde-oscuro-colaborador': getPorcentajeVerdeOscuro(colaborador.tiempoDisponible) }"
                            matTooltip="{{colaborador.capacidad-colaborador.horasPlanificadas}} Hs Disp /
                            {{colaborador.capacidad}} Hs Cap"
                            [matTooltipPosition]="position2.value!"> 
                            {{ colaborador.tiempoDisponible }}%
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-divider></mat-divider>
                <h3 class="atrasadas" matTooltip="{{colaborador.horasAtrasadas}} Hs Atrasadas" [matTooltipPosition]="position2.value!">Tareas Atrasadas: {{ colaborador.atrasadas }} </h3>
                <div *ngFor="let mes of mesesPlanificacion">
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="div-caja">
                                    <div>{{ mes.mes }}</div>
                                    <mat-icon>expand_more</mat-icon>
                                    <div class="cajaPorcentaje cajaPorcentajeDisp" [ngClass]="{
                                        'porcentaje-rojo-colaborador': getPorcentajeRojo(getPorcentajeDisponibleMensual(colaborador.id, mes.mes, (colaborador.capacidad/(mesesMostrados+1)))),
                                        'porcentaje-amarillo-colaborador': getPorcentajeAmarillo(getPorcentajeDisponibleMensual(colaborador.id, mes.mes, (colaborador.capacidad/(mesesMostrados+1)))),
                                        'porcentaje-verde-claro-colaborador': getPorcentajeVerdeClaro(getPorcentajeDisponibleMensual(colaborador.id, mes.mes, (colaborador.capacidad/(mesesMostrados+1)))),
                                        'porcentaje-verde-oscuro-colaborador': getPorcentajeVerdeOscuro(getPorcentajeDisponibleMensual(colaborador.id, mes.mes, (colaborador.capacidad/(mesesMostrados+1)))) }"
                                        matTooltip="{{(colaborador.capacidad/(mesesMostrados+1))-getTooltipHsPlanMensual(colaborador.id, mes.mes)}}
                                        Hs Disp / {{(colaborador.capacidad/(mesesMostrados+1))}} Hs Cap"
                                        [matTooltipPosition]="position2.value!">
                                        {{getPorcentajeDisponibleMensual(colaborador.id, mes.mes, (colaborador.capacidad/(mesesMostrados+1)))}}%
                                    </div>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <!-- agregar comportamiento para mostrar mensaje: No tiene tareas asignadas este mes -->

                        <mat-divider></mat-divider>
                        <!-- ngif preguntando si no hay proyectos -->
                        <div class="texto-no-hay-proyecto" *ngIf="noHayProyectosEsteMes(colaborador.id, mes.mes)">No tiene tareas asignadas este mes</div>
                        <!-- *ngIf="separarProyectosDelMes(colaborador.id, mes.mes)===[]" -->
                        <!-- ngIf preguntando si hay proyectos -->
                        <div *ngIf="separarProyectosDelMes(colaborador.id, mes.mes)!==[]">
                        <div class="div-caja caja-proyecto" *ngFor="let proy of separarProyectosDelMes(colaborador.id, mes.mes)">
                            <div class="texto-proyecto"> {{proy}} </div>
                            <div class="cajaPorcentaje"
                                matTooltip="{{getTooltipHsPlanProyecto(proy, colaborador.id, mes.mes)}} Hs Plan / 
                                {{(colaborador.capacidad/(mesesMostrados+1))}} Hs Cap" [matTooltipPosition]="position2.value!"> 
                                {{getPorcentajeOcupadoMensualProyecto(proy, colaborador.id, mes.mes, (colaborador.capacidad/(mesesMostrados+1)))}}%  <!-- ver capacidad, dividir por mesesmostrados+1 -->
                            </div>
                        </div>
                        </div>
                        <mat-divider></mat-divider>
                    </mat-expansion-panel>
                </div>
            </mat-expansion-panel>
        </div>
    </div>

    <div class="columna-equipo" [ngClass]="{'esconder': colaboradorUnico}">
        <div *ngFor="let colaborador of columna2">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{colaborador.nombre}} {{colaborador.apellido}}
                        <div class="cajaPorcentaje cajaPorcentajeDisp" [ngClass]="{
                            'porcentaje-rojo-colaborador': getPorcentajeRojo(colaborador.tiempoDisponible),
                            'porcentaje-amarillo-colaborador': getPorcentajeAmarillo(colaborador.tiempoDisponible),
                            'porcentaje-verde-claro-colaborador': getPorcentajeVerdeClaro(colaborador.tiempoDisponible),
                            'porcentaje-verde-oscuro-colaborador': getPorcentajeVerdeOscuro(colaborador.tiempoDisponible) }"
                            matTooltip="{{colaborador.capacidad-colaborador.horasPlanificadas}} Hs Disp /
                            {{colaborador.capacidad}} Hs Cap"
                            [matTooltipPosition]="position2.value!"> 
                            {{ colaborador.tiempoDisponible }}%
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-divider></mat-divider>
                <h3 class="atrasadas" matTooltip="{{colaborador.horasAtrasadas}} Hs Atrasadas" [matTooltipPosition]="position2.value!">Tareas Atrasadas: {{ colaborador.atrasadas }} </h3>
                <div *ngFor="let mes of mesesPlanificacion">
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="div-caja">
                                    <div>{{ mes.mes }}</div>
                                    <mat-icon>expand_more</mat-icon>
                                    <div class="cajaPorcentaje cajaPorcentajeDisp" [ngClass]="{
                                        'porcentaje-rojo-colaborador': getPorcentajeRojo(getPorcentajeDisponibleMensual(colaborador.id, mes.mes, (colaborador.capacidad/(mesesMostrados+1)))),
                                        'porcentaje-amarillo-colaborador': getPorcentajeAmarillo(getPorcentajeDisponibleMensual(colaborador.id, mes.mes, (colaborador.capacidad/(mesesMostrados+1)))),
                                        'porcentaje-verde-claro-colaborador': getPorcentajeVerdeClaro(getPorcentajeDisponibleMensual(colaborador.id, mes.mes, (colaborador.capacidad/(mesesMostrados+1)))),
                                        'porcentaje-verde-oscuro-colaborador': getPorcentajeVerdeOscuro(getPorcentajeDisponibleMensual(colaborador.id, mes.mes, (colaborador.capacidad/(mesesMostrados+1)))) }"
                                        matTooltip="{{(colaborador.capacidad/(mesesMostrados+1))-getTooltipHsPlanMensual(colaborador.id, mes.mes)}}
                                        Hs Disp / {{(colaborador.capacidad/(mesesMostrados+1))}} Hs Cap"
                                        [matTooltipPosition]="position2.value!">
                                        {{getPorcentajeDisponibleMensual(colaborador.id, mes.mes, (colaborador.capacidad/(mesesMostrados+1)))}}%
                                    </div>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <!-- agregar comportamiento para mostrar mensaje: No tiene tareas asignadas este mes -->

                        <mat-divider></mat-divider>
                        <!-- ngif preguntando si no hay proyectos -->
                        <div class="texto-no-hay-proyecto" *ngIf="noHayProyectosEsteMes(colaborador.id, mes.mes)">No tiene tareas asignadas este mes</div>
                        <!-- *ngIf="separarProyectosDelMes(colaborador.id, mes.mes)===[]" -->
                        <!-- ngIf preguntando si hay proyectos -->
                        <div *ngIf="separarProyectosDelMes(colaborador.id, mes.mes)!==[]">
                        <div class="div-caja caja-proyecto" *ngFor="let proy of separarProyectosDelMes(colaborador.id, mes.mes)">
                            <div class="texto-proyecto"> {{proy}} </div>
                            <div class="cajaPorcentaje"
                                matTooltip="{{getTooltipHsPlanProyecto(proy, colaborador.id, mes.mes)}} Hs Plan / 
                                {{(colaborador.capacidad/(mesesMostrados+1))}} Hs Cap" [matTooltipPosition]="position2.value!"> 
                                {{getPorcentajeOcupadoMensualProyecto(proy, colaborador.id, mes.mes, (colaborador.capacidad/(mesesMostrados+1)))}}%  <!-- ver capacidad, dividir por mesesmostrados+1 -->
                            </div>
                        </div>
                        </div>
                        <mat-divider></mat-divider>
                    </mat-expansion-panel>
                </div>
            </mat-expansion-panel>
        </div>
    </div>
</mat-accordion>
</div>