.example-form {
    min-width: 150px;
    max-width: 1500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  mat-label{
    display: inline-block;
    width: 80px;
  }

  .pointer{
    cursor: pointer;
}
.modal-actividad-container #close-icon{
  margin-left: auto;
  order: 2;
  font-weight: bolder;
}
.modal-actividad-container #close-icon:hover{
  cursor: pointer;
  }

  /* for dialog pop-up */
  .btn-dialog-close{
    width: 45px;
    min-width: 0px !important;
    height: 40px;
    padding: 0px !important;
  }
  