<div id="conteiner-all">
    <form>
        <label id="titulo">Cambio de contraseña</label>
        <br />
            <!-- Usuario form-field -->
            <mat-form-field class="conteinerInput" appearance="fill">
                <input class="input" type="text" matInput [formControl]="user" autocomplete="off" placeholder="Usuario...">
                <mat-error class="mensajeError" *ngIf="user?.hasError('required')">
                    <p>Porfavor introduce un usuario</p>
                </mat-error>
            </mat-form-field>
            <div id="separadorInputs"></div>   
            
            <!-- Email form-field -->
            <mat-form-field class="conteinerInput" appearance="fill">
                <input class="input" type="email" matInput [formControl]="email" placeholder="Email...">
                <mat-error class="mensajeError" *ngIf="email.hasError('email') && !email.hasError('required')">
                    <p>Porfavor ingrese un email válido</p>
                </mat-error>
                <mat-error class="mensajeError" *ngIf="email.hasError('required')">
                    <p>Por favor ingrese un email</p>
                </mat-error>
              </mat-form-field>
    </form>
    <div id="separador-2"></div>
    <button *ngIf="!email.hasError('email') && !email.hasError('required')" type="submit" class="correoButton" (click)="enviarCorreo()"><span>Enviar correo</span></button>
</div>
