.content-container{
  border: solid 2px black; 
  background-color: white; 
}

.container-form{
  margin: 5px;
  overflow-y: hidden;
}

.toolbar{
  background-color: white;
}
.example-spacer {
  flex: auto;
}
.form-container{
  display: grid;
  /*grid-template-rows: 1fr 1fr 0.8fr;*/
  gap: 2%;
}
.table{
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 0.5fr 1.5fr;
  gap: 0.5%;
  align-items: center;
  font-size: medium;
}
.fechaInput{
  width: 220px;
  font-size: 13px;
}

.horasFormField{
  width: 220px;
  font-size: 13px;

}

.descripcion{
  display: grid ;
  grid-template-columns: 0.5fr 3.5fr;
  gap: 0.5%;
  align-items: center;
  font-size: medium;
}
.asunto{
  display: grid;
  grid-template-columns: 0.5fr 3.5fr;
  gap: 0.1%;
  align-items: center;
  font-size: medium;
}
.tarea{
  display: grid;
  grid-template-columns: 0.5fr 3.5fr;
  gap: 0.5%;
  align-items: center;
  font-size: medium;
}
.is-required:after{
  content: '*';
  margin-left: 3px;
  color: red;
  font-weight: bold;
  top: 100%;
}
.is-complete:after{
  content: 'Debe completar todos los campos obligatorios';
  right: 100%;
  color: red;
  font-weight: bold;
}
.mensajeError{
  padding-left: 55%;
}
.invisible{
  display: none;
}
.visible{
  content: 'Debe completar todos los campos obligatorios';
  right: 100%;
  color: red;
  font-weight: bold;
}

/*.example-form {
    min-width: 150px;
    max-width: 1500px;
    width: 100%;
  }*/
  
  /*.example-full-width {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    width: 100%;
  }*/

  /*mat-label{
    display: inline-block;
    width: 80px;
  }*/

  .pointer{
    cursor: pointer;
}
/*.modal-actividad-container #close-icon{
  margin-left: auto;
  order: 2;
  font-weight: bolder;
}
.modal-actividad-container #close-icon:hover{
  cursor: pointer;
  }*/

  /* for dialog pop-up */
  /*.btn-dialog-close{
    width: 45px;
    min-width: 0px !important;
    height: 40px;
    padding: 0px !important;
  }*/

  .actions{ 
    text-align: center;
    display: flex;
    justify-content:flex-end;
      gap: 2%;
    }
    .actions #cancelar-button{
      background-color:rgba(0,0,0,.1);
    }
    .actions #aceptar-button{
      background-color:rgba(0,0,0,.1);
    }

  .col-sm-3 col-form-label{
    display: flex;
  }

  .prioridad{
    display: flex;
    color: red;
    font-size: 15px;
  }

  .label{
    padding-top: 3px;
    display: flex;
    font-size: 13px;
    width: 100px;
  }

  .labelHorasEjecutadas{
    display: flex;
    font-size: 13px;
    padding-top: 3px;
    margin-right: 3px;
    width: 120px;
  }

  .close-icon{
    text-align: right;
  }

  .field{
    font-size: 13px;
    width: 590px;
  }

  #inputDescp {
    overflow-y: scroll;
    resize: none;
  }
  