
<div class="content-container">
  <!--<mat-icon id="close-icon" (click)="closeDialog()">close</mat-icon>-->
    <mat-toolbar class="toolbar">
      <span class="example-spacer"></span>
      <button mat-icon-button (click)="closeDialog()"  tabIndex="-1">
        <mat-icon>close</mat-icon></button>
    </mat-toolbar>
    
 

  <form class="form-container" [formGroup]="form" (ngSubmit)="agregarActividadSuite();editarActividadSuite()">

  
    <!--<table class="example-full-width" cellspacing="0"><tr>

      <td><mat-label>Fecha</mat-label></td>
      <td>
          <mat-form-field appearance="fill">-->
              <!--<mat-label>Choose a date</mat-label>-->
              <!--<input matInput [matDatepicker]="picker" formControlName="fecha">
              <mat-hint>MM / DD / YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
      </td>
      
      <td><mat-label>Horas ejecutadas</mat-label></td>
      <td>
          <mat-form-field class="example-full-width" appearance="fill">-->
              <!--<mat-label></mat-label>-->
              <!--<input matInput value=4 formControlName="horasEjecutadas">
            </mat-form-field>
      </td>
  </tr></table>-->
  <div class="table"> 
    <!--<mat-label>Fecha</mat-label>-->
   <mat-label *ngIf="form.value.fecha">Fecha</mat-label>
    <mat-label  class="col-sm-3 col-form-label is-required" *ngIf="!form.value.fecha">Fecha</mat-label>
    <mat-form-field appearance="fill">
      <mat-label *ngIf="!form.value.fecha"></mat-label>
      <!--<mat-label>Choose a date</mat-label>-->
      <input matInput [matDatepicker]="picker" formControlName="fecha" format='DD/MM/YYYY' required>
      <mat-hint></mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-label  *ngIf="form.value.horasEjecutadas">Horas ejecutadas</mat-label>
      <mat-label  class="col-sm-3 col-form-label is-required" *ngIf="!form.value.horasEjecutadas" >Horas ejecutadas</mat-label>
      <mat-form-field class="example-full-width" appearance="fill">
              <!--<mat-label></mat-label>-->
              <mat-label *ngIf="!form.value.horasEjecutadas"></mat-label>
              <input matInput  (keypress)="keyPress($event)" 
              type="number" 
              pattern="[0-9]*"
                 id="horas" name="horas" value=4 formControlName="horasEjecutadas" required>
            </mat-form-field>
  </div>
    
  <div class="descripcion">
    <!--<div style="display:flex; flex-direction: row; justify-content: center; align-items: center">-->
      <mat-label>Descripcion</mat-label>
    <mat-form-field class="example-full-width" appearance="fill">
    <!--<mat-label>Descripcion completar</mat-label>-->
    <input matInput value="descripcion" formControlName="descripcion">
    </mat-form-field>
    <!--</div>-->
  </div>
    
    <div class="asunto">
      <!--<div style="display:flex; flex-direction: row; justify-content: center; align-items: center">-->
        <mat-label *ngIf="form.value.asunto">Asunto</mat-label>
    <mat-label  class="col-sm-3 col-form-label is-required" *ngIf="!form.value.asunto">Asunto</mat-label>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label *ngIf="!form.value.asunto"></mat-label>
      <!--<mat-label>XXXX</mat-label>-->
      <input matInput value="XXXX" formControlName="asunto">
    </mat-form-field>
    <!--</div>-->
    </div>
    
    <div class="tarea"> 
      <!--<div style="display:flex; flex-direction: row; justify-content: center; align-items: center">-->
        <mat-label *ngIf="form.value.tareaAsociada">Tarea asociada</mat-label>
        <mat-label  class="col-sm-3 col-form-label is-required" *ngIf="!form.value.tareaAsociada">Tarea asociada</mat-label>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label *ngIf="!form.value.tareaAsociada"></mat-label>
    <!--<mat-label>tarea</mat-label>-->
    <input matInput value="Descripcion a completar"  formControlName="tareaAsociada">
  </mat-form-field>
  <!--</div>-->
</div>
   
    
  

<div class="mensajeError">
  <mat-label *ngIf="form.invalid" class="col-sm-3 col-form-label is-complete"></mat-label>
</div>

<div class="actions" >
  <button mat-stroked-button id="cancelar-button" [mat-dialog-close]="false">Cancelar</button>
  <button mat-stroked-button id="aceptar-button" type="submit" [disabled]="form.invalid"  [mat-dialog-close]="true" (click)="recibirIndex()">Aceptar</button>
</div>
</form>

</div>


 


