.container-all {
  width: 100%;
  height: 100%;
}

.container-form {
  margin: 3px;
}

#container-section {
  align-items: center;
  display: flex;
}

.fechaInput {
  font-size: 13px;
  width: 150px;
}

.horasFormField {
  font-size: 13px;
  width: 50px;
  margin-left: 3%;
  text-align: center;
}

.is-required:after {
  content: '*';
  margin-left: 3px;
  color: red;
  font-weight: bold;
  top: 100%;
}
.is-complete:after {
  content: 'Debe completar todos los campos obligatorios';
  right: 100%;
  color: red;
  font-weight: bold;
}
.mensajeError {
  padding-left: 55%;
}
.invisible {
  display: none;
}
.visible {
  content: 'Debe completar todos los campos obligatorios';
  right: 100%;
  color: red;
  font-weight: bold;
}

  .pointer {
    cursor: pointer;
}

  .prioridad {
    display: flex;
    color: red;
    font-size: 15px;
  }

  .label {
    font-size: 13px;
    display: flex;
    width: 150px;
  }

  .labelHorasEjecutadas {
    font-size: 13px;
    display: flex;
    margin-left: 7.5%;
    width: 140px;
  }
  
  .labelFecha {
    width: 140px;
    font-size: 13px;
    display: flex;
  }

  #close-icon{
    color: black;
  }

  #container-boton{
    text-align: right;
  }

  .field{
    font-size: 13px;
    width: 100%;
  }

  #inputDescp {
    overflow-y: scroll; 
    max-height: 40px;
  }
  
  #container-botones {
    text-align: right;
  }

  #container-botones button {
    margin: 0.5%;
  }

  .green {
    background-color: lightgreen;
}

  .red {
    background-color: lightcoral;
}