<div class="container-all">
  <button id="close-icon" mat-icon-button (click)="closeDialog(false)"  tabIndex="-1">
    <mat-icon>close</mat-icon>
  </button>

  <div class="container-form">
  <form [formGroup]="form" (ngSubmit)="agregarActividadSuite();editarActividadSuite()">
    
    <div id="container-section">
      <mat-label  class="label">Fecha<p class="prioridad">*</p></mat-label>
      <mat-form-field appearance="outline" class="fechaInput">
      <mat-label>dd/mm/aaaa</mat-label>
        <input matInput [matDatepicker]="picker" readonly="readonly" formControlName="fecha" 
        format="dd/mm/YYYY" maxlength="10" (blur)="MyFunction($event)"
        (input)="onDateInput($event,form.value.fecha)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-label class="labelHorasEjecutadas">Horas ejecutadas<p class="prioridad">*</p></mat-label>
    <mat-form-field class="horasFormField" appearance="outline">
      <input matInput  
      pattern="([1][0]{1}[.]{1}[0]{1,2}|[0-9]{1}[.]{1}[0-9]{1,2}|[0][0-9]{1}[.]{1}[0-9]{1,2}|[1-9]{1}|[1][0]{1})"
        id="horas" name="horas" value=4 formControlName="horasEjecutadas" class="horasInput" required placeholder="0.00" maxlength="5">
    </mat-form-field>
  </div>

  <div id="container-section">
    <mat-label class="label">Asunto<p class="prioridad">*</p></mat-label>
      <mat-form-field class="field" appearance="outline">
      <input matInput value="descripcion" formControlName="asunto" maxlength="33">
    </mat-form-field>
  </div>

  <div id="container-section">
    <mat-label class="label">Descripción</mat-label>
      <mat-form-field class="field" appearance="outline">
      <textarea matInput cdkTextareaAutosize value="descripcion" formControlName="descripcion" id="inputDescp" cols="60" rows="3"></textarea>
    </mat-form-field>
  </div>

  <div id="container-section">
    <mat-label class="label">Tarea asociada<p class="prioridad">*</p></mat-label>
      <mat-form-field class="field" appearance="outline">
      <input matInput value="Descripcion a completar"  formControlName="tareaAsociada">
    </mat-form-field>
  </div>

  <div class="mensajeError">
      <mat-label [ngClass]="this.invisible ? 'invisible' : 'visible'" >Debe completar todos los campos obligatorios</mat-label>
  </div>

  <div id="container-botones">
    <button mat-stroked-button [mat-dialog-close]="false">Cancelar</button>
    <button mat-stroked-button type="submit" (click)="recibirIndex()">Aceptar</button>
  </div>
    </form>
  </div>
</div>



