* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.conteiner-all{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}  

.conteiner-barra{
    margin-right: 20%;
    margin-left: 20%;
}

.porcentajes{
    margin-top: 13px;
    color: black;
}

.cabecera {
    text-align: center;
}

#titulo-proyecto {
    font-size: 25px;
    margin-top: 20px;
}

#subtitulo-disenio{
    font-size: 15px;
}

.datos{
    display: flex;
}

.datos strong{
    padding-right: 4px;
    font-size: 12px;
}

.datos p{
    font-size: 12px;
}

.desc-act{
    padding-top: 10px;
}

.conteiner-all-act{
    margin-top: 10px;
}

#fechas strong{
    font-size: 12px;
}

#fechas p{
    padding-left: 10px;
    font-size: 10px;
}

#separador{
    background-color: black;
}

.actividades mat-accordion mat-expansion-panel{
    background-color: white;
    border: solid 1px black;
}

.actividades mat-accordion mat-expansion-panel-header{
    height: 45px;
}
   
#titulo-act{
    text-align: center;
    font-size: 12px;
}

.card-columna{
    width: 100%;
    margin-left: 0.25%;
    margin-right: 0.25%;
}

.card{
    border: 1.5px solid black;
    border-radius: 4px;
    width: 100%;
}

.titulo-conteiner-no-iniciadas {
    height: 25px;
    background-color: rgb(170, 0, 0);
    text-align: center;
    border: 1.5px solid black;
    border-radius: 4px;
}

.titulo-conteiner-progreso {
    height: 25px;
    background-color: yellow;
    text-align: center;
    border: 1.5px solid black;
    border-radius: 4px;
}

.titulo-conteiner-completadas {
    height: 25px;
    background-color: rgb(4, 131, 2);
    text-align: center;
    border: 1.5px solid black; 
    border-radius: 4px;
}

.conteiner-vacio{
    width: 100%;
    border: 1.5px solid black;
    height: 60px;
    display: block;
}

.horas{
    padding-right: 4px;
    font-size: 12px;
}

.horas p{
    display: inline-block;
    padding: 3px;
    font-size: 11px;
}

.horas-div{
    padding-left: 7px;
}

.desvioNegativo {
    color: red;
    font-weight: 700;
}

.desvioPositivo {
    color: green;
    font-weight: 700;
}

/*  Iconos  */
#iconos{
    margin-top: 10px;
    text-align: right;
}

#icon-edit{
    margin-right: 5px;
    cursor: pointer;
    color: black;
}

#icon-x{
    cursor: pointer;
    color: black;
}

#icon-danger{
    margin-top: 2px;
    margin-right: 3px;
    color: black;
}

#icon-avatar{
    margin-top: 2px;
    margin-right: 3px;
    color: black;
}

#icon-calendar{
    margin-top: 2px;
    margin-right: 3px;
    color: black;
}

#icon-paper{
    margin-top: 2px;
    margin-right: 3px;
    color: black;
}

#icon-check{
    margin-top: 2px;
    margin-right: 3px;
    color: black;
}

#icon-clock{
    margin-top: 2px;
    margin-right: 3px;
    color: black;
}

#icon-note {
    margin-top: 2px;
    margin-right: 3px;
    color: black;
}

#icon-arrow {
    margin-top: 2px;
    margin-right: 3px;
    color: black;
}

.actividades-desplegable {
    width: 100%;
    margin-top: 5px;
}