<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Comienzo cabecera -->
<div class="cabecera">
    <h2 id="titulo-proyecto">Proyecto Seleccionado (Viene de componente tareas)</h2>
    <p id="subtitulo-disenio">Avance de Diseño Técnico</p>

    <!-- Barra de progreso -->
    <div class="conteiner-barra">
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" aria-label="Segment one" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><p class="porcentajes">50%</p></div>
            <div class="progress-bar bg-warning" role="progressbar" aria-label="Segment two" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"><p class="porcentajes">40%</p></div>
            <div class="progress-bar bg-success" role="progressbar" aria-label="Segment one" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"><p class="porcentajes">10%</p></div>
        </div>
    </div>
</div>
<!-- Termina cabecera -->

<!-- Contenedor para las columnas de las tareas -->
<div class="conteiner-all">
    <div class="card-columna">
        <mat-card class="card">
            <div class="titulo-conteiner-no-iniciadas">
                <h4>NO INICIADAS</h4>
            </div>

            <div class="conteiner-all-act">
                <div class="actividades" *ngFor="let actividad of tareasNoIniciadas ; let i = index">
                    <mat-accordion class="panel-header">
                        <mat-expansion-panel hideToggle>
                            <mat-divider id="separador"></mat-divider>

                            <!-- Iconos -->
                            <div id="iconos">
                                <i id="icon-edit" class="fas fa-edit"></i>
                                <i id="icon-x" class="fa-solid fa-x"></i> 
                            </div> 

                            <div class="desc-act">
                                <div class="datos">
                                    <i id="icon-danger" class="fa-solid fa-triangle-exclamation"></i>
                                    <strong>Prioridad: </strong>
                                    <p>{{actividad.prioridad}}</p>
                                </div>
                                <div class="datos">
                                    <i id="icon-avatar" class="fa-solid fa-user-tie"></i>
                                    <strong>Asignado: </strong>
                                    <p>{{actividad.asignado}}</p>
                                </div>
                                    <div class="datos">
                                    <i id="icon-avatar" class="fa-solid fa-user-tie"></i>
                                    <strong>Facilitador: </strong>
                                    <p>{{actividad.facilitador}}</p>
                                </div>
                                <div class="horas">
                                    <i id="icon-calendar" class="fa-regular fa-calendar-days"></i>
                                    <strong>Fechas: </strong>
                                    <div class="horas-div">
                                        <p>De inicio: {{actividad.fechaInicio}}</p>
                                        <p>Planificada: {{actividad.fechaPlanificacion}}</p>
                                        <p>Fin: {{actividad.fechaFin}}</p>
                                    </div>
                                </div> 
                                <div class="horas">
                                    <i id="icon-clock" class="far fa-clock"></i>
                                    <strong>Horas:</strong>
                                    <div class="horas-div">
                                        <p>Planificadas: {{actividad.horasPlanificadas}} hs</p>
                                        <p>Ejecutadas: {{actividad.horasEjecutadas}} hs</p>
                                        <p>Desvío:</p><p [ngClass]="{
                                            'desvioNegativo': calcularDesvio(actividad.horasPlanificadas, actividad.horasEjecutadas),
                                            'desvioPositivo': !calcularDesvio(actividad.horasPlanificadas, actividad.horasEjecutadas)
                                        }">
                                            {{valorAbsoluto(actividad.horasPlanificadas-actividad.horasEjecutadas)}} hs
                                        </p>
                                    </div>
                                </div> 
                                <div class="datos">
                                    <i id="icon-paper" class="fa-solid fa-copy"></i>
                                    <strong>Documento: </strong>
                                    <p>{{actividad.documento}}</p>
                                </div> 
                                <div class="datos">
                                    <i id="icon-check" class="fa-solid fa-circle-check"></i>
                                    <strong>Tareas Precondicion: </strong>
                                    <p>{{actividad.tareasPrecondicion}}</p>
                                </div> 
                            </div>
                        <mat-expansion-panel-header>
                        <div class="titulo-act">
                            <mat-panel-title>
                                {{actividad.titulo}}
                            </mat-panel-title>
                        </div>
                        <!-- Icono editar -->    
                
                    
                        </mat-expansion-panel-header>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </mat-card> 
    </div>
    <div class="card-columna">
        <mat-card [ngClass]="{'card': poseeTareasEnProgreso, 'conteiner-vacio': !poseeTareasEnProgreso}" >
            <div class="titulo-conteiner-progreso">
                <h4>EN PROGRESO</h4>
            </div>
            <div class="conteiner-all-act">
                <div class="actividades" *ngFor="let actividad of tareasEnProgreso ; let i = index">
                    <mat-accordion class="panel-header">
                        <mat-expansion-panel hideToggle>
                            <mat-divider id="separador"></mat-divider>

                            <!-- Iconos -->
                            <div id="iconos">
                                <i id="icon-edit" class="fas fa-edit"></i>
                                <i id="icon-x" class="fa-solid fa-x"></i> 
                            </div> 

                            <div class="desc-act">
                                <div class="datos">
                                    <i id="icon-danger" class="fa-solid fa-triangle-exclamation"></i>
                                    <strong>Prioridad: </strong>
                                    <p>{{actividad.prioridad}}</p>
                                </div>
                                <div class="datos">
                                    <i id="icon-avatar" class="fa-solid fa-user-tie"></i>
                                    <strong>Asignado: </strong>
                                    <p>{{actividad.asignado}}</p>
                                </div>
                                <div class="datos">
                                    <i id="icon-avatar" class="fa-solid fa-user-tie"></i>
                                    <strong>Facilitador: </strong>
                                    <p>{{actividad.facilitador}}</p>
                                </div>
                                <div id="fechas">
                                    <i id="icon-calendar" class="fa-regular fa-calendar-days"></i>
                                    <strong>Fechas: </strong>
                                    <p>De inicio: {{actividad.fechaInicio}}</p>
                                    <p>Planificada: {{actividad.fechaPlanificacion}}</p>
                                    <p>Fin: {{actividad.fechaFin}}</p>
                                </div> 
                                <div class="datos">
                                    <i id="icon-clock" class="far fa-clock"></i>
                                    <strong>Horas: </strong>
                                    <p>Planificadas: {{actividad.horasPlanificadas}} hs</p>
                                    <p>Ejecutadas: {{actividad.horasEjecutadas}} hs</p>
                                    <p>Desvío:</p><p [ngClass]="{
                                        'desvioNegativo': calcularDesvio(actividad.horasPlanificadas, actividad.horasEjecutadas),
                                        'desvioPositivo': !calcularDesvio(actividad.horasPlanificadas, actividad.horasEjecutadas)
                                    }">
                                        {{valorAbsoluto(actividad.horasPlanificadas-actividad.horasEjecutadas)}} hs
                                    </p>
                                </div> 
                                <div class="datos">
                                    <i id="icon-paper" class="fa-solid fa-copy"></i>
                                    <strong>Documento: </strong>
                                    <p>{{actividad.documento}}</p>
                                </div> 
                                <div class="datos">
                                    <i id="icon-check" class="fa-solid fa-circle-check"></i>
                                    <strong>Tareas Precondicion: </strong>
                                    <p>{{actividad.tareasPrecondicion}}</p>
                                </div> 
                            </div>
                        <mat-expansion-panel-header>
                        <div class="titulo-act">
                            <mat-panel-title>
                                {{actividad.titulo}}
                            </mat-panel-title>
                        </div>
                        <!-- Icono editar -->    
                        </mat-expansion-panel-header>
                        </mat-expansion-panel>
                        </mat-accordion>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="card-columna">
        <mat-card [ngClass]="{'card': poseeTareasCompletadas, 'conteiner-vacio': !poseeTareasCompletadas}">
            <div class="titulo-conteiner-completadas">
                <h4>COMPLETADAS</h4>
            </div>
            <div class="conteiner-all-act">
                <div class="actividades" *ngFor="let actividad of tareasCompletadas">
                    <mat-accordion class="panel-header">
                    <mat-expansion-panel hideToggle>
                        <mat-divider id="separador"></mat-divider>

                        <!-- Iconos -->
                        <div id="iconos">
                            <i id="icon-edit" class="fas fa-edit"></i>
                            <i id="icon-x" class="fa-solid fa-x"></i> 
                        </div> 

                        <div class="desc-act">
                            <div class="datos">
                                <i id="icon-danger" class="fa-solid fa-triangle-exclamation"></i>
                                <strong>Prioridad: </strong>
                                <p>{{actividad.prioridad}}</p>
                            </div>
                            <div class="datos">
                                <i id="icon-avatar" class="fa-solid fa-user-tie"></i>
                                <strong>Asignado: </strong>
                                <p>{{actividad.asignado}}</p>
                            </div>
                            <div class="datos">
                                <i id="icon-avatar" class="fa-solid fa-user-tie"></i>
                                <strong>Facilitador: </strong>
                                <p>{{actividad.facilitador}}</p>
                            </div>
                            <div class="horas">
                                <i id="icon-calendar" class="fa-regular fa-calendar-days"></i>
                                <strong>Fechas: </strong>
                                <div class="horas-div">
                                    <p>De inicio: {{actividad.fechaInicio}}</p>
                                    <p>Planificada: {{actividad.fechaPlanificacion}}</p>
                                    <p>Fin: {{actividad.fechaFin}}</p>
                                </div>
                            </div> 
                            <div class="horas">
                                <i id="icon-clock" class="far fa-clock"></i>
                                <strong>Horas: </strong>
                                <div class="horas-div">
                                    <p>Planificadas: {{actividad.horasPlanificadas}} hs</p>
                                    <p>Ejecutadas: {{actividad.horasEjecutadas}} hs</p>
                                    <p>Desvío:</p>
                                    <p [ngClass]="{
                                        'desvioNegativo': calcularDesvio(actividad.horasPlanificadas, actividad.horasEjecutadas),
                                        'desvioPositivo': !calcularDesvio(actividad.horasPlanificadas, actividad.horasEjecutadas)
                                    }">
                                        {{valorAbsoluto(actividad.horasPlanificadas-actividad.horasEjecutadas)}} hs
                                    </p>
                                </div>
                            </div> 
                            <div class="datos">
                                <i id="icon-paper" class="fa-solid fa-copy"></i>
                                <strong>Documento: </strong>
                                <p>{{actividad.documento}}</p>
                            </div> 
                            <div class="datos">
                                <i id="icon-check" class="fa-solid fa-circle-check"></i>
                                <strong>Tareas Precondicion: </strong>
                                <p>{{actividad.tareasPrecondicion}}</p>
                            </div> 
                        </div>
                    <mat-expansion-panel-header>
                    <div class="titulo-act">
                        <mat-panel-title>
                            {{actividad.titulo}} 
                        </mat-panel-title>
                    </div>
                    </mat-expansion-panel-header> 
                    </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </mat-card>
    </div>
</div>