<div id="container-header">
    <h1 id="title">Filtrar documentos</h1>
    <hr>
</div>
<div id="container-body">
    <!-- Document number form-field -->
    <mat-form-field class="input" appearance="outline" autocomplete="false">
        <mat-label>Número del proyecto</mat-label>
        <input (keydown)="validarTecla($event)" matInput [(ngModel)]="result.numero">
    </mat-form-field>

    <!-- Docuement name form-field -->
    <mat-form-field class="input" appearance="outline" autocomplete="false">
        <mat-label>Nombre del proyecto</mat-label>
        <input (keydown)="validarTecla($event)" matInput [(ngModel)]="result.nombre">
    </mat-form-field>

    <!-- Document category select -->
    <mat-form-field class="select" appearance="outline">
        <mat-label>Categoría</mat-label>
        <mat-select [(value)]="categoria" (selectionChange)="selectCategory($event)">
          <mat-option [value]="null"></mat-option>
          <mat-option *ngFor="let c of categorys" [value]="c">
            {{c}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Document type select -->
      <mat-form-field class="select" appearance="outline">
        <mat-label>Tipos</mat-label>
        <mat-select [disabled]="!categoria || categoria == ''" [(value)]="tipo" (selectionChange)="selectTipo($event)">
          <mat-option [value]="null"></mat-option>
          <mat-option *ngFor="let t of types" [value]="t" >
            {{t}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <!-- Document assigned form-field -->
    <mat-form-field class="input" appearance="outline" autocomplete="false">
        <mat-label>Asignado a</mat-label>
        <input (keydown)="validarTecla($event)" matInput [(ngModel)]="result.asignadoA">
    </mat-form-field>

    <!-- Document condition select -->
    <mat-form-field class="select" appearance="outline">
        <mat-label>Estado</mat-label>
        <mat-select [(value)]="estado" (selectionChange)="selectEstado($event)">
          <mat-option [value]="null"></mat-option>
          <mat-option *ngFor="let e of estados" [value]="e">
            {{e}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <h4 class="subtitle">Fecha de publicación</h4>
      <div id="container-dates">
        <mat-form-field appearance="outline" class="picker1">
          <mat-label>Desde</mat-label>
          <input matInput [(ngModel)]="fechaPublicacionDesde" [matDatepicker]="publicacionDesde"  (dateChange)="getFechaPublicacionDesde($event)">
          <mat-datepicker-toggle matSuffix [for]="publicacionDesde"></mat-datepicker-toggle>
          <mat-datepicker #publicacionDesde startView="month"></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="picker2">
          <mat-label>Hasta</mat-label>
          <input matInput [(ngModel)]="fechaPublicacionHasta" [matDatepicker]="publicacionHasta" (dateInput)="getFechaPublicacionHasta($event)">
          <mat-datepicker-toggle matSuffix [for]="publicacionHasta"></mat-datepicker-toggle>
          <mat-datepicker #publicacionHasta startView="month"></mat-datepicker>
        </mat-form-field>
      </div>

      <h4 class="subtitle">Fecha de caducidad</h4>
      <div id="container-dates">
        <mat-form-field appearance="outline" class="picker3">
          <mat-label>Desde</mat-label>
          <input matInput [(ngModel)]="fechaCaducidadDesde" [matDatepicker]="caducidadDesde" (dateInput)="getFechaCaducidadDesde($event)">
          <mat-datepicker-toggle matSuffix [for]="caducidadDesde"></mat-datepicker-toggle>
          <mat-datepicker #caducidadDesde startView="month"></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="picker4">
          <mat-label>Hasta</mat-label>
          <input matInput [(ngModel)]="fechaCaducidadHasta" [matDatepicker]="caducidadHasta" (dateInput)="getFechaCaducidadHasta($event)">
          <mat-datepicker-toggle matSuffix [for]="caducidadHasta"></mat-datepicker-toggle>
          <mat-datepicker #caducidadHasta startView="month"></mat-datepicker>
        </mat-form-field>

      </div>
      <div id="container-buttons">
        <button class="blue" mat-stroked-button (click)="limpiarFiltro()">Limpiar</button>
        <button class="red" mat-stroked-button (click)="cancelarBusqueda()">Cancelar</button>
        <button class="green" mat-stroked-button (click)="guardarFiltro()">Aplicar</button>
      </div>
</div>
