/* Header */

#container-header{
    text-align: center;
}

/* Body */

#title{
    font-size: 15px;   
}

.input{
    width: 100%;
}

.select{
    width: 100%;
}

#container-buttons{
    text-align: center;
}

#container-buttons button{
    margin: 2%;
}

.blue {
    background-color: lightskyblue;
}

.red {
    background-color: lightcoral;
}

.green {
    background-color: lightgreen;
}

.subtitle{
    text-align: center;
}

#container-dates{
    text-align: center;
}

#container-dates div{
    margin: 3%;
}

#picker{
    width: 40%;
    margin: 3%;
}