h2 {
  margin-top: 5%;
}

.container {
  padding: 2%;
}

.etiqueta {
  width: 25%;
  text-align: left;
  font-size: large;
}

.progress {
  height: 100%;
  margin: 3%;
  width: 70%;
  background-color: #f5f5f5;
  transition: 0.1s;
}

.progress-bar {
  color: black;
}

.progress:hover {
  width: 80%;
  border: 2px solid black;
}