<div id="conteiner-all">
    <div id="conteiner-login">
        <form [formGroup]="form" novalidate class="needs-validation">
            <img src="../../../assets/images/company_logo.png" />
            <br />
            <input class="usernameInput" type="text" formControlName="user" placeholder="Usuario..." autocomplete="off" required>
            <div class="separador">
                <!-- Se activa unicamente si el usuario introduce mal el nombre -->
                <p id="mensajeError" *ngIf="visibilidadMensajeUsuario == true">{{mensajeErrorUsuario}}</p>
            </div>
            <input class="passwordInput" type="password" formControlName="user" placeholder="Contraseña..." autocomplete="off" required>
            <div class="separador">
                <!-- Se activa unicamente si el usuario introduce mal la constraseña -->
                <p id="mensajeError" *ngIf="visibilidadMensajeContrasenia == true">{{mensajeErrorContrasenia}}</p>
            </div>  
            <button type="submit" class="sesionButton" (click)="verificarCredenciales()"><span>Iniciar Sesión</span></button>
            <a href="/enviar-correo"><p id="olvidePass">Olvidé mi contraseña</p></a>
        </form>
    </div>
</div>
