* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.titulo-container {
    height: 25px;
    text-align: center;
    border: 1.5px solid black;
    border-radius: 4px;
}

#no-iniciadas{
    background-color: #cc0000;
}

#en-progreso{
    background-color: #f1c232;
}
#en-prueba{
    background-color: #93c47d;
}
#completadas{
    background-color: #6aa84f;
}

.conteiner-all{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}  

.conteiner-barra{
    /* margin-right: 350px;
    margin-left: 350px; */
    margin-right: 20%;
    margin-left: 20%;
    border: 1px solid black;
}

.porcentajes{
    margin-top: 13px;
    color: black;
}

.cabecera {
    text-align: center;
}

#titulo-proyecto {
    font-size: 25px;
    margin-top: 20px;
    font-weight: 700;
}

#subtitulo-disenio {
    font-size: 20px;
    font-weight: 700;
}

.caja-fecha {
    display: flex;
}

.fecha p {
    margin-left: 13px;
    font-size: small;
}
.fecha-right {
    margin-left: auto;
    margin-right: 0;
    font-size: small;
}

.datos{
    display: flex;
}

.datos strong{
    padding-right: 4px;
    font-size: 12px;
}

.datos p{
    font-size: 12px;
}

.descripcion-tarea{
    padding-top: 10px;
}

.conteiner-all-tareas{
    margin-top: 10px;
}

#fechas strong{
    font-size: 12px;
}

#fechas p{
    padding-left: 10px;
    font-size: 10px;
}

#separador{
    background-color: black;
}

.actividades mat-accordion mat-expansion-panel{
    background-color: white;
    border: solid 1px black;
}

.actividades mat-accordion mat-expansion-panel-header{
    height: 25px;
}

.tareas {
    margin-bottom: 8px;
}

#titulo-act{
    text-align: center;
    font-size: 12px;
}

.card-columna{
    width: 25%;
    margin: 2px;
}

.card{
    border: 1.5px solid black;
    border-radius: 4px;
    /* width: 370px; */
}

.container-vacio{
    /* width: 370px; */
    border: 1.5px solid black;
    height: 60px;
    /* display: block; */
}

.horas{
    padding-right: 4px;
    font-size: 12px;
}

.horas p{
    display: inline-block;
    font-size: 10px;
    padding: 3px;
}

#horas-div{
    padding-left: 7px;
}

#horasDesvio{
    color: red;
}

/*  Iconos  */
/* #iconos{
    margin-top: 10px;
    text-align: right;
} */

.iconos-superior {
    margin-top: 10px;
    text-align: right;
}

#shakehands{
    display: flex;
    justify-content: center;
}

#shakehands::before{
    cursor: pointer;
    color: blue;
}

.icon-general {
    margin-top: 2px;
    margin-right: 5px;
    color: black;
}

.icon-edit {
    margin-right: 5px;
    cursor: pointer;
    color: blue;
}

.icon-x {
    cursor: pointer;
    color: red;
}

/* #icon-edit{
    margin-right: 5px;
    cursor: pointer;
    color: black;
}
#icon-edit::before{
    color: #085394;
}

#icon-x{
    cursor: pointer;
    color: black;
}
#icon-x{
    color:#cc0000
} */

#icon-danger{
    margin-top: 2px;
    margin-right: 3px;
    color: black;
}

#icon-avatar{
    margin-top: 2px;
    margin-right: 3px;
    color: black;
}

#icon-calendar{
    margin-top: 2px;
    margin-right: 3px;
    color: black;
}

#icon-paper{
    margin-top: 2px;
    margin-right: 3px;
    color: black;
}

#icon-check{
    margin-top: 2px;
    margin-right: 3px;
    color: black;
}

#icon-clock{
    margin-top: 2px;
    margin-right: 3px;
    color: black;
}



