<div id="conteiner-all">
    <div id="conteiner-login">
        <form>
            <img src="../../../assets/images/company_logo.png" />
            <br />
            <!-- Cotraseña form-field -->
            <mat-form-field class="conteinerInput" appearance="outline">
                <input class="input" type="password" matInput [formControl]="password" autocomplete="off" placeholder="Contraseña...">
                <mat-error class="mensajeError" *ngIf="password?.hasError('required')">
                    <p>Porfavor ingresa una contraseña</p>
                </mat-error>
            </mat-form-field>
            <div id="separadorInputs"></div>

            <!-- Confirmar contraseña form-field -->
            <mat-form-field class="conteinerInput" appearance="outline">
                <input class="input" type="password" matInput [formControl]="confirmPassword" autocomplete="off" placeholder="Repita la nueva contraseña...">
                <mat-error class="mensajeError" *ngIf="confirmPassword?.hasError('required')">
                    <p>Porfavor ingresa nuevamente la contraseña</p>
                </mat-error>
            </mat-form-field>
    </form>
    <div class="separador-2"></div>
    <button type="submit" class="sesionButton" (click)="verificarContrasenias()"><span>Cambiar contraseña</span></button>
    <p id="mensajeError" [ngClass]="{'noVisible': !visibilidadMensajeContrasenia}">{{mensajeErrorContrasenia}}</p>
</div> 



