.foto {
  
    width: 100px;           /* Ancho de 150 píxeles */
    height: 100px;          /* Alto de 150 píxeles */
    background: gray;        /* Fondo de color rojo */
    border: 2px solid #000; /* Borde color negro y de 1 píxel de grosor */
  }
  .close {
    color: black;
    /*float: right;*/
    margin-top: 0%;
  }
  .contenedor {
    display: grid;
    /*grid-template-columns: repeat(2, 1fr);*/
    grid-gap: 0.5em;
    grid-template-rows: auto;
  }
  
  .head {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 5fr;
    gap: 50px;
    justify-content: space-evenly;
    /*align-items: center;*/
    font-size: medium;
  }

  .contenido {
    max-width: 600px; 
    padding: 0.5em;
  }

  .mat-dialog-actions {
    grid-column-end: right;
    float: right;
  }
