<div class="contenedor">
  <span class="buscadores">
    <div class="buscador" appearance="standard">
      <!-- <app-filtro-proyecto-input (enviar)="recibirContexto($event)"></app-filtro-proyecto-input> -->
      <app-filtro-proyecto-input></app-filtro-proyecto-input>
      
      <!-- <button class="botonVistas" mat-button [matMenuTriggerFor]="menu" [value] = "nombreVistaSeleccionada">{{nombreVistaSeleccionada}}</button> -->
      <button class="botonVistas" mat-flat-button color="primary" [matMenuTriggerFor]="menu" [value] = "nombreVistaSeleccionada">{{nombreVistaSeleccionada}}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)='verTareasDeVista($event)' id="Vista">Vista</button>
        <button mat-menu-item (click)='verTareasDeVista($event)' id="Analista Funcional">Analista funcional</button>
        <button mat-menu-item (click)='verTareasDeVista($event)' id="Analista Tecnico">Analista Técnico</button>
        <button mat-menu-item (click)='verTareasDeVista($event)' id="Desarrollador">Desarrollador</button>
        <button mat-menu-item (click)='verTareasDeVista($event)' id="Tester">Tester</button>
        <button mat-menu-item (click)='verTareasDeVista($event)' id="Project manager">Project manager</button>
      </mat-menu>
    </div>
    
    <div class="buscador">
      <mat-icon id="btnABMtareas" class="icon" (click)="abrirAltaTareaDialog()">add_circle</mat-icon>
      <!-- "Sprint" -->
      <button id="btn-sprint" mat-flat-button color="primary" [matMenuTriggerFor]="sprintMenu" class="sombraBotones" (click)="mesesYanios()">{{mesAnioSeleccionado}}</button>
      <mat-menu #sprintMenu="matMenu">
        <mat-option [value]="mesAnio"  *ngFor="let mesAnio of mesesAnios" (click)="setMesAnio(mesAnio)">{{ mesAnio }}</mat-option>
      </mat-menu>
      
      <!-- Asignadas a mi -->
      <button [ngClass]="{'sombraBotones': asignadasAmiDesactivado,  'bordeBotonActivado': asignadasAmiActivado }" mat-flat-button color="primary" (click)="getUsuarioTareasAsignadas()">Asignadas a mi</button>
      <mat-icon id="btnFiltroTareas" class="icon" (click)="buscarTarea()">filter_alt</mat-icon>
    </div>
  </span>
  <h1> {{nombreProyecto}}</h1>

</div>


<app-vista-disenio-tecnico *ngIf="subtituloProyecto ==  ' Avance de Diseño técnico'" [tareasSP]="tareasFiltradasPorVista"></app-vista-disenio-tecnico>
<app-vista-desarrollador *ngIf="subtituloProyecto == ' Avance de Desarrollo'" [tareasSP]="tareasFiltradasPorVista"></app-vista-desarrollador>
<app-vista-analista-funcional *ngIf="subtituloProyecto == ' Avance de Diseño funcional'" [tareasSP]="tareasFiltradasPorVista"></app-vista-analista-funcional>