<h1> {{nombreProyecto}}</h1>
<h3>{{subtituloProyecto}}</h3>

<button mat-button [matMenuTriggerFor]="aboveMenu">Inicio</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu">Equipo</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="beforeMenu">Tareas</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>


<button mat-button [matMenuTriggerFor]="afterMenu">Wiki I+D</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="afterMenu">Documentos</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
<mat-divider class="mat_divider"></mat-divider>
<mat-divider class="mat_divider"></mat-divider>


<div class="buscador" appearance="standard">
    <mat-form-field class="example-form-field" appearance="fill">
      <!-- <mat-label>Buscar proyecto</mat-label> -->
      <input matInput type="text" placeholder="Buscar proyecto..." [(ngModel)]="nombreProyecto">
      <button *ngIf="nombreProyecto" matSuffix mat-icon-button aria-label="Clear" (click)="nombreProyecto=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    
    <mat-icon class="icon" (click)="buscarProyecto($event)">search</mat-icon>
    
    <button mat-button [matMenuTriggerFor]="menu">Vista</button>
    <mat-menu  #menu="matMenu" >
      <button mat-menu-item (click)='proyectoSeleccionado($event)' id="Analista Funcional">Analista funcional</button>
      <button mat-menu-item (click)='proyectoSeleccionado($event)' id="Analista Tecnico">Analsita Técnico</button>
      <button mat-menu-item (click)='proyectoSeleccionado($event)' id="Desarrollador">Desarrollador</button>
      <button mat-menu-item (click)='proyectoSeleccionado($event)' id="Tester">Tester</button>
      <button mat-menu-item (click)='proyectoSeleccionado($event)' id="Project manager">Project manager</button>
    </mat-menu>

    <!-- <mat-form-field appearance="fill">
      <mat-label>Horizontal position</mat-label>
      <mat-select [(value)]="horizontalPosition">
        <mat-option value="start">Start</mat-option>
        <mat-option value="center">Center</mat-option>
        <mat-option value="end">End</mat-option>
        <mat-option value="left">Left</mat-option>
        <mat-option value="right">Right</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Vertical position</mat-label>
      <mat-select [(value)]="verticalPosition">
        <mat-option value="top">Top</mat-option>
        <mat-option value="bottom">Bottom</mat-option>
      </mat-select>
    </mat-form-field> -->
    
    <!-- <button mat-stroked-button (click)="openSnackBar()" aria-label="Show an example snack-bar">
      Pool party!
    </button> -->
</div>

<div class="buscador">
    <mat-icon class="icon">add_circle</mat-icon>
    <button mat-raised-button [matMenuTriggerFor]="sprintMenu">Sprint 9</button>
    <mat-menu #sprintMenu="matMenu">
      <button mat-menu-item>Backlog</button>
      <button mat-menu-item>Sprint 1</button>
      <button mat-menu-item>Sprint n</button>
    </mat-menu>
    <button>Asignadas a mi</button>
    <mat-icon class="icon" (click)="buscarTarea()">filter_alt</mat-icon>
</div>