h1, h3{
    text-align: center;
}
.mat_divider{
    margin-bottom: 2px;
    height: 1px;
    background-color: black;
}
.icon{
    font-size: 40px;
    width: 45px;
}
.lista_proyectos {
    overflow-y: scroll;
    border: 1px solid black;
    height: 22vw;
    width: 15vw;
}
.contenedor{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.buscadores{
    width: 43%;
}

.buscador{
    margin-top: 1%;
    width: 50%;
    height: 5%;
    display: flex;
    justify-content: space-between;
}
.ocultarTabla{
    display: none;
}
.mostrarTabla{
    display: block;
    position: absolute;
}