#titulo {
    margin-top: 40px;
    margin-bottom: 40px;
}

.container-main {
    display: flex;
    margin-top: 3%;
    width: 100%;
    margin: 1%;
}

.fecha-hoy {
    text-align: center;
}

.cuadro-fecha {
    border: 2px solid black;
    border-radius: 5px;
    margin: 3px;
    padding: 3px;
    width: 100px;
    text-align: center;
}

.cuadro-fecha:hover {
    background-color: #f5f5f5
}

.division {
    height: 1600px;
    background: linear-gradient(#000, #000) no-repeat center/2px 100%;
}

#componenteDisponibilidad{
    width: 49%;
    margin: 0;
}

#componenteEstado{
    width: 49%;
    margin: 0;
}

.visible{
    visibility: hidden;
    display: none;
}