#titulo {
    text-align: center;
}

.container-main {
    display: flex;
    width: 100%;
    margin-top: 30px;
}

.flex-item {
    justify-content: space-between;
    width: 100%;
    margin: 1%;
}

.flex-item-fecha{
    width: 15%;
}

.fecha-hoy {
    text-align: center;
}

.cuadro-fecha {
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
}

.cuadro-fecha:hover {
    background-color: #f5f5f5
}

.division {
    height: 1600px;
    background: linear-gradient(#000, #000) no-repeat center/2px 100%;
}