/* All */

#container-all{
    margin: 0.5%;
    display: inline;
}

/* Header */

#container-header-top{
    display: flex;
    margin-left: 2.5%;
}

#container-header-bot{
    display: flex;
    margin-left: 2.5%;
}

#container-icon{
    margin-left: 1%;
}

#iconCircle{
    font-size: 41px;
}

#assignedButton{
    margin-top: 0.25%;
    margin-left: 2%;
}

#iconFilter{
    font-size: 41px;
    margin-left: 0.65%;
}   

.menu-orden {
    display: flex;
    width: 170px;
}

/* Body */

#container-body{
    height: 100%;
    text-align: center;
}

#container-cards-documents{
    width: 100%;
    margin-top: 2%;
    height: 100%;
}

#document-card{
    height: 258px;
    width: 19%;
    float: left;
    margin: 0.5%;
}

.card-content{
    display: flex;
}

.letters{
    font-size: 13px;
}

.container-icons{
    margin-top: 1%;
    text-align: right;
}

.container-icons i{
    margin: 1.5%;
    margin-bottom: 3%;
}

#remove-icon{
    font-size: 23px;
    color: red;
    cursor: pointer;
}

#download-icon{
    font-size: 23px;
    cursor: pointer;
    color: black;
}

#edit-icon{
    font-size: 23px;
    color: cornflowerblue;
    cursor: pointer;
}

.document-green-border{
    border: solid green 2px;
}

.card-content-end{
    display: flex;
}

.card-content-icon{
    text-align: right;
}

#list-icon{
    font-size: 35px;
}

.letters-date{
    font-size: 13px;
    padding-left: 10%;
}

/* Pagination */

#container-pagination{
    text-align: center;
    margin-top: 20%;
}

/* Border of documents */

.necesidades-document-border{
    border: solid 2px green;
}

.plan-document-border{
    border: solid 2px yellow;
}

.sprint-backlog-document-border{
    border: solid 2px orange;
}

.propuesta-funcional-document-border{
    border: solid 2px red;
}