/* All */

#container-all{
    margin: 0.5%;
    display: inline;
}

/* Header */

#container-header{
    margin-bottom: 130px;
}

#container-header-top{
    display: flex;
    margin-left: 2.5%;
}

#container-header-bot{
    display: flex;
    margin-left: 2.5%;
}

#container-icon{
    margin-left: 1%;
}

#iconCircle{
    font-size: 41px;
}

#assignedButton{
    margin-top: 0.25%;
    margin-left: 2%;
}

#iconFilter{
    font-size: 41px;
    margin-left: 0.65%;
}   

.menu-orden {
    display: flex;
    width: 170px;
}

.noVisible{
    display: none;
}

.container-informacion{
    float: right;
    display: flex; 
}

.informacion-letters{
    font-size: 9px;
    /* margin-left: 2px; */
}

#section-icon{
    display: flex;
}


.informacion-button{
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

#informacion-section {
    background-color: white;
    border: 1px solid black;
    height: 126px;
    width: 100px;
    border-radius: 5px;
    padding: 3px;
}

/* Body */

#container-body{
    height: 70%;
    /* text-align: center; */
}

#container-cards-documents{
    width: 100%;
    margin-top: 2%;
    height: 100%;
   
}

#document-card{
    height: 50%;
    width: 19%;
    float: left;
    margin: 0.5%;
}

.card-content{
    display: flex;
}

.letters{
    font-size: 13px;
    text-align: left;
}

.container-icons{
    margin-top: 1%;
}

.container-icons i{
    margin: 1.5%;
    margin-bottom: 3%;
}

#remove-icon{
    font-size: 18px;
    color: red;
    cursor: pointer;
}

#download-icon{
    font-size: 18px;
    cursor: pointer;
    color: black;
}

#edit-icon{
    font-size: 18px;
    color: cornflowerblue;
    cursor: pointer;
}

.document-green-border{
    border: solid green 2px;
}

.card-content-end{
    display: flex;
}

.card-content-icon{
    text-align: right;
}

#list-icon{
    font-size: 35px;
}

.letters-date{
    font-size: 13px;
    padding-left: 10%;
}

#container-select{
    margin-left: 5px;
    margin-top: 12px;
}

/* Información section */

.container-icon{
    display: flex;

}

.container-informacion{
    float: right;
    display: flex;
}

.informacion-icon{
    font-size: 14px;
}


/* Pagination */

#container-pagination{
    text-align: center;
    margin-top: 20%;
}

/* Border of documents */

.necesidades-document-border{
    border: solid 2px green;
}

.general-document-border{
    border: solid 2px yellow;
}

.ventas-document-border{
    border: solid 2px orange;
}

.disenio-document-border{
    border: solid 2px red;
}

.implementacion-document-border{
    border: solid 2px purple;
}

.testing-document-border{
    border: solid 2px black;
}

.mantenimiento-document-border{
    border: solid 2px palevioletred;
}

.desarrollo-document-border{
    border: solid 2px blue;
}

/* Colors of status */

.eliminado-document-status{
    color: red;
}

.publicado-document-status{
    color: green;
}

.borrador-document-status{
    color: gray;
}

.buttonOn{
    background-color: lightgreen;
}