<div id="container-all">
    <div id="container-header"> <!-- Comienza el header -->
        <div id="container-header-top">
            <mat-form-field id="projectInput" appearance="outline">
                <mat-label>Buscar proyecto</mat-label>
                <input matInput>
            </mat-form-field>
            <button id="button-orden" mat-button [matMenuTriggerFor]="menuOrden"> {{ordenSeleccion}} <mat-icon>expand_more</mat-icon></button>
            <mat-menu #menuOrden="matMenu"><button mat-button *ngFor="let o of orden" class="menu-orden" (click)="shotOrder($event)">{{o}}</button></mat-menu>
        </div>
        
        <div id="container-header-bot">
            <mat-icon id="iconCircle">add_circle</mat-icon> <!-- Icono que abre el dialog para agregar documentos -->
            <button id="assignedButton" mat-stroked-button>Asignados a mi</button>
            <mat-icon (click)="openFilter()" id="iconFilter">filter_alt</mat-icon> <!-- Icono que abriría el filtro -->
        </div>
    </div> <!-- Termina el header -->
</div>
