.cerrar {
    cursor: pointer;
    float: right;
}

mat-label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 10px;
}

mat-form-field{
    padding: 7px;
    width: 250px;
    margin-top: 3px;
    margin-bottom: -1.25em;
}

.oculto{
    display: none;
}

.mostrarTabla{
    display: block;
    position: absolute;
    left: -7%;
    top: 102%;
    z-index: 100;
}

.botones{
    text-align: center;
}

button{
    margin: 2% 2% 0 2%;
}

.red{
    background-color: lightcoral;
}

.green {
    background-color: lightgreen;
}

.camposIncompletos{
    color: lightcoral;
    font-style: italic;
    width: 100%;
}

#nombreArchivo{
    text-align: left;
}