<mat-icon class="cerrar" mat-dialog-close>close</mat-icon>
<h3 id="titulo"></h3>
<hr>
<form [formGroup]="formulario" class="formulario" (submit)="formularioCompleto($event)">
    <div>
        <mat-label>Archivo</mat-label>
        <button mat-stroked-button (click)="adjuntar($event)" id="btnAdjuntar">Adjuntar</button>
        <mat-label id="nombreArchivo"></mat-label>
        <input type="file" class="oculto" id="adjuntar" formControlName="archivo" (change)="mostrarNombre($event)">
    </div> 
    <div>
        <mat-label>Nombre</mat-label>
        <mat-form-field appearance="outline" class="input">
            <mat-label>Ingresar...</mat-label>
            <input matInput formControlName="nombre">
        </mat-form-field>
    </div>
    <div>
        <mat-label>Proyecto Asociado</mat-label>
        <mat-form-field appearance="outline" class="input">
            <mat-label>Ingresar...</mat-label>
            <input matInput formControlName="proyectoAsociado">
        </mat-form-field>
    </div>
    <div>
        <mat-label>Tipo</mat-label>
        <mat-form-field>
            <mat-label>Seleccionar</mat-label>
            <mat-select class="input" formControlName="tipo" [compareWith]="compararItems">
                <mat-option *ngFor="let tipo of tipos" [value]="tipo.descripcion" >{{tipo.descripcion}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-label>Estado</mat-label>
        <mat-form-field>
            <mat-label>Seleccionar</mat-label>
            <mat-select class="input" formControlName="estado" [compareWith]="compararItems">
                <mat-option *ngFor="let estado of estados" [value]="estado.descripcion">{{estado.descripcion}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-label>Fecha de publicacion</mat-label>
        <mat-form-field appearance="outline">
            <mat-label>dd/mm/aa</mat-label>
            <input matInput [matDatepicker]="datepicker" formControlName="fechaPublicacion" >
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>
    </div>
    <div>
        <mat-label>Fecha de caducidad</mat-label>
        <mat-form-field appearance="outline">
            <mat-label>dd/mm/aa</mat-label>
            <input matInput [matDatepicker]="datepicker2" formControlName="fechaCaducidad" >
            <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
            <mat-datepicker #datepicker2></mat-datepicker>
        </mat-form-field>
    </div>
    <div>
        <mat-label>Asignado a</mat-label>
        <mat-form-field appearance="outline" class="input">
            <mat-label>Ingresar...</mat-label>
            <input matInput formControlName="asignadoA" >
        </mat-form-field>
    </div>
    <mat-label *ngIf="camposIncompletos" class="camposIncompletos">Debe completar todos los campos obligatorios</mat-label>
    <div class="botones">
        <button class="red" mat-stroked-button mat-dialog-close>Cancelar</button>
        <button class="green" mat-stroked-button (click)="agregarDocumento">Aceptar</button>
    </div>
    
</form>