.container {
    display: flex;
}

.busqueda {
    width: 50%;
}

.resultados {
    width: 50%;
}

.form {
    height: 350px;
}

.seleccionar {
    margin-top: 10px;
}

.tabla-scroll {
    overflow-y: scroll;
    height: 400px;
}

th {
    font-size: large;
}

.fila:hover {
    background-color: lightgray;
    cursor: pointer;
}