.container {
    margin-left: 100px;
}

mat-form-field {
    font-size: 14px;
    width: 100%;
}

.tabla {
    position: relative;
    max-height: 450px;
    overflow: auto;
    border: 1px solid;
    border-radius: 3px;
}

.table {
    width: 100%;
}

th {
    position: absolute;
    color: black;
}

td {
    text-align: center;
}

.botonTablaPermiso {
    width: 270px;
}

.botonTablaCheck {
    width: 160px;
}
