@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
#conteiner-all{
    width: 250px;
    text-align: center;
    height: 220px;
}

#separadorInputs{
    margin-bottom: 30px;
}

.mensajeError{
    font-size: 10px;
    font-style: italic;
    color: red;
    margin: 0;
    padding: 0;
}

.conteinerInput{
    margin-top: 1.5%;
    height: 0px;
    width: 250px;
}

.input{
    height: 20px;
    width: 100%;
    border-radius: 4px;
    text-align: center;  
    font-size: 15px;  
}

.correoButton{
    height: 25px;
    width: 150px;
    border-radius: 4px;
    border: 1px solid black;
    background-color: orange;
    font-size: 12px;
}

.separador{
    margin-bottom: 1.0%;
}

#separador-2{
    margin-top: 35px;
}

#titulo{
    font-size: 25px;
    margin-bottom: 5px;
    font-family: 'Roboto';
}

/*
    Reglas para poner el texto del placeholder en cursiva
*/
::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }