.container {
    margin-left: 100px;
}

mat-form-field {
    font-size: 14px;
    width: 100%;
}

.tabla {
    position: relative;
    max-height: 450px;
    overflow: auto;
    border: 1px solid;
    border-radius: 3px
}

table {
    width: 750px;
}

th {
    position: sticky;
    color: black;
}

td {
    text-align: center;
}

.botonTabla {
    width: 250px;
}

.menuDesplegable {
    display: flex;
    flex-direction: row;
    align-items: center;
}

mat-checkbox {
    width: 50%;
    margin-left: 25%;
}

.seleccionRoles {
    width: 250px;
    text-align: center;
}